
/* cards design */
a.manga-card {

  color: white;
  border-radius: .25rem;
  text-decoration: none;
  transition: .2s;
  position: relative;
  width: 100% !important;
  height: 300px;
  display: inline-block;

  .manga-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: .25rem;
    transition: filter .2s;
  }
  .stars {
    position: absolute;
    top: 20px;
    text-align: center;
    width: 100%;
    font-size: 1.25rem;
  }
  .stars i {
    color: gold;
  }
  p.title {
    opacity: 0;
    transition: .2s opacity;
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    text-align: center;
    padding: 1rem;
    color: white;
  }
  .chapters-count {
    bottom: 0;
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translate(-50%, 0);
    font-weight: bold;
    padding: 0 7px;
    color: #fff;
  }
}

a.manga-card:hover {
  .manga-image {
    filter: brightness(30%) blur(3px);
  }
  p.title {
    opacity: 1;
  }
}

a.horizontal-card {
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  text-decoration: unset;
  transition: .2s;
  flex-direction: row;
  color: black;
  img {
    max-height: 100px;
  }
  .stars {
    color: gold;
  }
}
a.horizontal-card:hover {
  color: black;
  background: rgb(238, 238, 238);
}