/* swiper styles */
.index-banner {
  .swiper-initialized {
    height: 350px;
    padding: 40px !important;
    border-radius: .5rem;
  }
  .parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }
  .swiper-button-next, .swiper-button-prev {
    color: #fff;
  }
  .swiper-pagination-bullet {
    background-color: #fff;
  }

}
.last-updated {
  outline: currentColor none medium;
}
.last-added {
  .swiper-pagination {
    margin-bottom: -15px;
  }
}