/* first navbar && sticky header */
#nav-section {

  .navbar-search-btn {
    background-color: white;
    border: 1px solid #bdbdbd !important;
    border-left: unset !important;
    box-shadow: unset !important;
    padding: 0 13px !important;
  }

  .input-group > .form-control:focus {
    border: 1px solid #bdbdbd !important;
    border-right: unset !important;
    box-shadow: unset !important;
    outline: unset !important;
  }

  .navbar-light a:hover {
    color: black !important;
  }

  @media only screen and (max-width: 992px) {
    .navbar {
      padding-top: 1rem !important;
      padding-bottom: 1rem !important;
      position: fixed;
      z-index: 1000;
      top: 0;
      left: 0;
      right: 0;
    }
    .dropdown-toggle::after {
      display: none !important;
    }
    & {
      margin-top: 70px;
    }
  }

  .navbar-toggler i {
    font-size: 2rem;
  }

  .fixed-navbar {
    position: fixed !important;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    transition: .3s;
  }

  a.dropdown-toggle {
    cursor: pointer;
  }

}
.dropdown-menu {

  &:nth-of-type(1) > .dropdown > a:hover {
    color: #16181b;
    background-color: #eee;
  }

  .site-language {
    left: 15px;
    display: block !important;
    position: relative;
  }

  .chapter-language {
    right: 15px;
    display: block !important;
    position: relative;
    text-align: end;
  }

  a.dropdown-toggle {
    cursor: pointer;
  }
}

/* Loader */
#loader {
  width: 0;
  position: fixed;
  height: 5px;
  top: 0;
  left: 0;
  z-index: 2;
  transition: .2s;
  background-color: red;
}